@model QLKaraoke.Models.DichVu1
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>Bạn có chắc chắn muốn xóa sản phẩm này?</h3>
<div>
    <h4>Thông tin sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Mặt Hàng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KhoHang.TenMatHang)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    }
</div>