@model List<QLKaraoke.Models.DatPhong>

<table>
    <thead>
        <tr>
            <th>Timestar</th>
            <th>Timeend</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var timeslot in Model)
        {
            <tr>
                <td>@timeslot.TimeStar</td>
                <td>@timeslot.TimeEnd</td>
            </tr>
        }
    </tbody>
</table>
